<div class="container mt-4">
    <div class="row align-items-center border rounded p-3 mb-3">
      <div class="col text-center">
        <h5>{{ game.local }}</h5>
        <img src="{{ game.local.shield.url }}" alt="{{ game.local }}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
      </div>
      <div class="col text-center">
        <h4 style="font-size: 2.5rem;">{{ game.local_goals }} - {{ game.away_goals }}</h4>
        <h5>vs</h5>
      </div>
      <div class="col text-center">
        <h5>{{ game.away }}</h5>
        <img src="{{ game.away.shield.url }}" alt="{{ game.away }}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
      </div>
      <div class="text-center mt-3">
        <a href="{% url 'games:game-info' game.id %}" class="text-decoration-none mx-2"> <i class="bi bi-info-circle-fill"></i></a>
      </div>
    </div>
  </div>