{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="display-4 text-center">Summer League</h1>
  <p class="lead text-center">Te damos la bienvenida a la página web oficial de la Summer League. Aquí podrás ver la información del torneo, equipos, jugadores, partidos, resultados, estadísticas y más; así como unirte a la competición.</p>
  {% if matches %}
    <h2 class="lead text-center">Partidos</h2>
    {% for match in matches %}
      {% include "match.html" %}
    {% endfor %}
  {% endif %}
</div>
{% endblock %}