{% extends "base.html" %}

{% block content %}
    {% if matches %}
        <h2 class="lead text-center">Partidos</h2>
        {% for match in matches %}
          {% include "match.html" %}
          <div class="text-center mt-3">
            <a href="{% url 'tournament:match-info' match.id %}" class="btn btn-primary btn-sm">Detalles</a>
          </div>
        {% endfor %}
    {% endif %}
    {% if user.is_superuser %}
      <div class="text-center mt-3">
        <a href="{% url 'tournament:add-match' %}" class="btn btn-primary btn-sm">Añadir partido</a>
      </div>
    {% endif %}
{% endblock  %}