{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4 text-center mb-5">
  <h1 class="display-4">{{ team.name }}</h1>
  <img src="{{ team.shield.url }}" alt="{{ team.name }}" class="img-fluid mb-4 fixed-size">

  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="jugadores-tab" data-bs-toggle="tab" href="#jugadores" role="tab" aria-controls="jugadores" aria-selected="false">Jugadores</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="partidos-tab" data-bs-toggle="tab" href="#partidos" role="tab" aria-controls="partidos" aria-selected="false">Partidos</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
      <h2 class="lead text-center mt-4">{{ team.name }}</h2>
      <p>{{ team.info }}</p>
    </div>
    <div class="tab-pane fade" id="jugadores" role="tabpanel" aria-labelledby="jugadores-tab">
      <div class="container mt-4">
        <div class="row">
            {% for player in players %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ player.user.first_name }} {{ player.user.last_name }}</h5>
                            <p class="card-text">{{ player.position }} #{{ player.number }}</p>
                            <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                                <img src="{{ player.photo.url }}" alt="{{ player.user.first_name }}" class="img-fluid" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'players:player-info' player.id %}" class="text-decoration-none mx-2"> <i class="bi bi-info-circle-fill"></i></a>
                            {% if user.is_superuser %}
                            <a href="{% url "players:edit-player" player.id %}" class="text-decoration-none mx-2"> <i class="bi bi-pencil-fill text-warning"></i></a>
                            <a href="{% url "players:delete-player" player.id %}" class="text-decoration-none mx-2"> <i class="bi bi-trash-fill text-danger"></i></a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
              <div class="d-flex justify-content-center mt-3">
                <div class="alert alert-info text-center col-12 col-md-6 col-lg-4" role="alert">
                  ¡Todavía no hay jugadores en este equipo!
                </div>
              </div>          
            {% endfor %}
        </div>
    </div>
      {% if user.is_superuser %}
      <details class="mt-4">
        <summary class="btn btn-outline-primary btn-sm" style="cursor: pointer; list-style: none;">
          Fichar
        </summary>
        <div class="mt-2">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                {% if not user.player and not user.is_superuser %}
                  <tr>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>
                      <a href="{% url 'players:sign-player' team.id user.id %}" class="btn btn-primary btn-sm">Fichar</a>
                    </td>
                  </tr>
                {% endif %}
              {% empty %}
                <div class="d-flex justify-content-center mt-3">
                  <div class="alert alert-info text-center col-12 col-md-6 col-lg-4" role="alert">
                    ¡No hay jugadores disponibles en el mercado!
                  </div>
                </div>          
              {% endfor %}
            </tbody>
          </table>
        </div>
      </details>  
      {% endif %}
    </div>
    <div class="tab-pane fade" id="partidos" role="tabpanel" aria-labelledby="partidos-tab">
        {% for game in games %}
          {% include "game.html" %}
        {% empty %}
          <div class="d-flex justify-content-center mt-3">
            <div class="alert alert-info text-center col-12 col-md-6 col-lg-4" role="alert">
              ¡No hay partidos disponibles!
            </div>
          </div>          
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}