{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ player.photo.url }}" class="img-fluid" style="max-width: 100px; max-height: 100px;" alt="Foto de {{ player.user.first_name }} {{ player.user.last_name }}">
            <h3>{{ player.user.first_name }} {{ player.user.last_name }}</h3>
        </div>
        <div class="col-md-8">
            <div class="d-flex align-items-center">
                <img src="{{ player.team.shield.url }}" class="img-fluid" style="max-width: 30px; max-height: 30px;" alt="Escudo de {{ player.team.name }}">
                <h4 class="ms-2">{{ player.team.name }}</h4> 
            </div>
            <h4>{{ player.position }}  {{ player.number }}</h4>
            <p><strong>País:</strong> {{ player.country }}</p>
            <p><strong>Edad:</strong> {{ age }}</p>
        </div>
    </div>

    <h2 class="lead text-center mt-4">Estadísticas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Partidos jugados</th>
                <th>Goles</th>
                <th>Asistencias</th>
                <th>Tarjetas Amarillas</th>
                <th>Tarjetas Rojas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ player.played }}</td>
                <td>{{ player.goals }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.yellow_cards }}</td>
                <td>{{ player.red_cards }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}