{% extends "base.html" %}

{% block content %}

  <h2 class="lead text-center">Partidos</h2>

{% if user.is_superuser %}
<div class="text-center mt-3">
  <a href="{% url 'games:add-game' %}" class="text-decoration-none"> <i class="bi bi-plus-circle-fill"></i></a>
</div>
{% endif %}
        {% for game in games %}
          {% include "game.html" %}
              <div class="text-center mt-3">
                <a href="{% url 'games:game-info' game.id %}" class="text-decoration-none mx-2"> <i class="bi bi-info-circle-fill"></i></a>
                {% if user.is_superuser %}
                  <a href="{% url 'games:edit-game' game.id %}" class="text-decoration-none mx-2"> <i class="bi bi-pencil-fill text-warning"></i></a>
                  <a href="{% url 'games:delete-game' game.id %}" class="text-decoration-none mx-2"> <i class="bi bi-trash-fill text-danger"></i></a>
                {% endif %}
              </div>
        {% empty %}
          <div class="d-flex justify-content-center mt-3">
            <div class="alert alert-info text-center col-12 col-md-6 col-lg-4" role="alert">
              ¡No hay partidos disponibles!
            </div>
          </div>          
        {% endfor %}
{% endblock  %}