{% extends "base.html" %}

{% block content %}
  {% include "game.html" %} 

  <div class="container mt-4">
      <div class="row">
          {% for event in events %}
              <div class="col-12">
                  {% if event.player.team == game.local %}
                      <div class="alert alert-primary no-background text-start mx-auto w-75" role="alert">
                          {{ event }}<a href="{% url "games:delete-event" game.id event.id %}">❌</a>
                      </div>
                  {% else %}
                      <div class="alert alert-secondary no-background text-end mx-auto w-75" role="alert">
                          {{ event }}<a href="{% url "games:delete-event" game.id event.id %}">❌</a>
                      </div>
                  {% endif %}
              </div>
          {% endfor %}
      </div>
  </div>
  {% if user.is_superuser %}
    <div class="text-center mt-3">
      <a href="{% url 'games:add-event' game.id %}" class="btn btn-primary btn-sm">Añadir evento</a>
    </div>
  {% endif %}
{% endblock %}